*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    width: 100%;
    border-bottom: 5px solid #fe2114;
}
.shop__head{
    height: 120px;
    width: 100%;
    background: linear-gradient(-180deg,#fe2114,#fe5a2d);

}
.container{
    height: 120px;
    width: 100%;
    background: linear-gradient(-180deg,#fe2114,#fe5a2d);

}
.container__navbar{
    width: 100%;
    height: 34px;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
}
.container__navbar--left{
    width: 50%;
    display: flex;
    padding: 10px;

}
.container__navbar--left a{
    border-right: 1px solid #afa9a9;
    text-decoration: none;
    color: #FFFF;
    padding:0px 10px;
}
.left__icon{
    padding: 0px 3px;
}
.container__navbar--right{
    display: flex;
    justify-content: space-around;

}
.navbar__icon{
    color: #FFFF;
    padding: 10px;

}
.navbar__icon a{
    text-decoration: none;
    color: #FFFF;

}
.container__wrapper{
    display: flex;
    justify-content: space-around;
}
.logo__shopee img{
    width: 180px;
    height: 85px;
}
.shopee__contact{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.shopee__search{
    display: flex;
    color:black;
    height: 35px;
    width: 830px;
    border-radius: 3px;
    
}
.shopee__search--left input{
    width: 630px;
    height: 36px;
    border: 1px solid #FFFF;
    border-right: #928F8B;
}
.shopee__search--left p{
    width: 150px;
    line-height: 34px;
    text-align: center;
    border: 1px solid #FFFF;
    background-color: #FFFF;
    border-right: #928F8B;
    font-size: 14px;
}
.shopee__search--left div{
    width: 50px;
    line-height: 32px;
    background-color: #fe2114;
    text-align: center;
    border: 2px solid #FFFF;
    color: #FFFF;
    border-radius: 3px;

}
.shopee__list{
    display: flex;
    width: 840px;
    height: 30px;
    align-items: flex-end;

}
.shopping{
    width: 40px;
    height: 40px;
    margin-top: 18px;
    padding: 5px ;
    margin-right: 50px;
}
.shopping a{
    font-size: 25px;
    color:#FFFF;
}
.shopee__link--list a{
    text-decoration: none;
    color: #FFFF;
    line-height: 30px;
    font-size: 12px;
    padding: 10px;
}
.shop{
    display: flex;
    height: 134px;
    width: 100%;
    margin: 40px 120px;
}
.shop__img{
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: blur(2px);
    filter: blur(2px);
}
.shop__social{
    display: flex;
    width: 390px;
    height: 134px;
    position: absolute;
    left: 120px;
    color: #FFFF;
    background: #00000099;
    border-radius: 3px;
}
.shop__social--logo img{
    border-radius: 50%;
    border: 3px solid #928F8B;
    margin: 10px;

}
.shop__social--content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
    
}
.shop__social--content button{
    color: #FFFF;
    background-color: transparent;
    width: 350px;
    margin-left: -80px;
    border: 1px  solid #FFFF;
}
.product__info{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.product__info--left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 100px;
}
.product__info--items{
    display: flex;
    
}
.product__info--items div{
    padding: 10px 5px;
    font-size: 14px;
}
.product__info--right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.shop__slider{
    display: flex;
}
.navbar__menu{
    display: flex;
    justify-content: space-around;
    margin: 0px 50px;
}
.navbar__menu--Item{
    padding: 5px 20px;

}
.navbar__menu--Item a{
    text-decoration: none;
    color: black;
}
.navbar__menu--Item:first-child{
    padding-bottom: 20px;
    border-bottom: 3px solid red;
}
.shopee__vouchers{
    display: flex;
    flex-direction: column;
    margin: 0px 120px;
}
.shopee__vouchers--title{
    margin-top: 20px;
   background-color: #fff;

}
.shopee__vouchers--title h3{
    font-size:16px ;
    margin: 15px 30px;

}
.shopee__vouchers--content{
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding:0px 20px 20px 20px;
    
}
.info__vouchers{
    display: flex;
    width: 23%;
    height: 136px;
    background: #fff4f4;
    border: 1px solid #fbc9c0;
    border-left: 4px dotted #fbc9c0;
    color: red;
    border-radius: 3px;
    padding: 10px;
}
.info__vouchers--left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    font-size: 15px;
}
.product__one{
    border: 1px solid red;
    color: red;
    width: max-content;
    padding: 0.2rem;
}
.info__vouchers--left p{
    margin-bottom: 3px;
}
.info__vouchers--left sup{
    border-bottom: 1px solid red;
}
.info__vouchers--right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;

}
.info__vouchers--right button{
    font-size: 16px;
    color: #fff;
    background: #ee4d2d;
    border: 1px solid #ee4d2d;
    height: 34px;
    width:50px;
    border-radius: 3px;
}
.category{
    width: 100%;
    background-color: #F5F5F5;
}
.category__img{
    text-align: center;
}
.category__img img{
    width: 85%;
    padding: 20px 10px;
}
.category__listimg{
    display: flex;
    text-align: center;
    justify-content: center;
}
.corgi__ship{
    text-align: center;
    margin: 10px 0px;
}
.corgi__ship img{
    width: 85%;
    padding: 10px;

}
.corgi__logo{
    text-align: center;
    margin: 10px 0px;
}
.corgi__logo img{
    width: 85%;
    padding: 10px ;

}
.corgi__guide{
    width: 90%;
    display: flex;
    margin-left: 100px;
}
.corgi__guide--img{
    padding-left: 17px;
}
.pokemon{
    text-align: center;
    margin: 10px 0px;
}
.pokemon img{
    width: 85%;
    padding: 10px;
}
.robot{
    text-align: center;
}
.robot img{
    width: 85%;
    padding: 10px;
}
.shopcorgi__product{
    width: 100%;
    background-color: #f5f5f5;
padding: 10px 0px;
}
.corgi__more{
    width: 85%;
    display: flex;
    justify-content: space-around;
    margin-left: 120px;
    background-color: #f5f5f5;
}
.corgi__more--left{
    width: 80%;
}
.corgi__more--icon{
    padding: 15px 0px;
}
.corgi__more--icon i{
    padding-right: 10px;
}
.corgi__more--icon hr{
    width: 80%;
    text-align: center;
}
.corgi__more--list{
    margin-top: -20px;
}
.corgi__product--icon{
    padding-bottom: 15px;
}
.corgi__more--item p {
    padding: 0px 15px;

}

  /* menu filter */
  .shop-filter {
    display: flex;
    justify-content: space-between;
    background: #ededed;
    border-radius: 5px;
    align-items: center;
    height: 56px;
    margin-right: 20px;
}
.wrap-shop-filter {
      margin-left: 20px;
 }
.filter-left,
.filter-right {
    display: flex;
    align-items: center;
}
.filter-left div:nth-child(2) button {
    width: 6rem;
    border-radius: 3px;
    background: var(--color2);
    color: white;
    border: none;
    height: 2rem;
    margin-right: 10px;
}
.filter-left div:not(li:nth-child(2)) button {
    width: 6rem;
    border-radius: 3px;
    background: white;
    color: black;
    border: none;
    height: 2rem;
    margin-right: 10px;
}
  
.filter-left div:first-child {
    margin-right: 12px;
}
#shop-filter__last-btn,
.filter-left div:last-child select {
    width: 8rem;
    border: none;
}
.filter-right{
      margin-right: 30px;
}
.filter-right div:first-child {
    margin-right: 1rem;
    display: flex;
}
.filter-right button {
    width: 2rem;
    height: 2rem;
    border-radius: 4px;
    border-color: #e7e0e0;
    color: #ab9e9e;
    margin-right: -2px;
}
.filter-right div:first-child > div:first-child {
    color: var(--color2);
    margin-right: 1px;
}
  /* shop goods */
.shop-goods {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}
.shop-goods-content {
    padding: 0.4rem;
}
.shop-goods-content > div {
    margin-bottom: 6px;
}
.shop-goods__item {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    flex-basis: 19%;
}
.shop-goods__vouch {
    color: white;
    background: orange;
    font-size: 10px;
    width: max-content;
    outline: dashed;
    outline-width: medium;
    outline-color: orange;
}
.shop-goods__cost {
    color: red;
}
.shop-goods__capture {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.shop-goods__info-sold {
    display: flex;
    justify-content: space-between;
}
.shop-goods__sold {
    display: flex;
    align-items: center;
    font-size: 10px;
  }
.shop-goods__sale {
    border: 1px solid red;
    color: red;
    font-size: 10px;
    width: max-content;
    padding: 0.2rem;
  }
.shop-goods__sold img {
    width: 13px;
    height: 13px;
    margin-right: 2px;
  }
.shop-goods__locate {
    display: flex;
    justify-content: flex-end;
    color: gray;
    font-size: 12px;
    font-weight: 300;
  }
.color-i {
    color: red;
    font-size: 12px;
    display: flex;
    align-items: center;
  }

